<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Looking for innovative solutions?</h2>
                <hr class="light">
                <p class="text-faded">Recent developments in the areas of digitalization, Industry 4.0, medical technology as well as the energy and mobility revolution offer enormous opportunities for a more sustainable, fairer and better planet earth. We would like to break new ground with you and realize innovative products and business models to leave a planet worth living on for our next generation.</p>
                <a href="#" class="btn btn-default btn-xl">Get in contact</a>
            </div>
        </div>
    </div>
</section>
